/target
*.o
*.a
*.dSym
*.dylib
/ui/node_modules
/ui/.cache
/ui/.yarn
/ui/.parcel-cache
/ui/dist
/mac-app-template/ZeroTier.app/Contents/MacOS/ZeroTier
/mac-app-template/ZeroTier.app/Contents/Resources/*.html
/mac-app-template/ZeroTier.app/Contents/Resources/*.css
/web-view/target
