[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ZeroTier UI
Exec=zerotier_desktop_ui
StartupNotify=false
StartupWMClass=zerotier_desktop_ui
Terminal=false
Icon=zerotier
Categories=Network;System;
